.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: orangered;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.btn:not(.nav-btns  button, .social-icons button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button, .social-icons button):hover{
    background-color: orangered;
    color: #fff;
    border-color: orangered;
}
.inventory-container{
    border: 0.2rem solid #443;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}
.careers{
        background-color: rgba(179, 179, 179, 0.05);
}

.about h1{
    color: #A6570C;
}